@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

._name {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

._email {
  font-size: 15px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

._posts {
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
