@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.button {
  color: white;
  background: #461919;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: background 1s;
  margin-top: 100px;
}

.button:hover {
  background: #953232;
}
